:root {
  --main-blue: #0a66c2;
  --second-blue: #83b1e0;
}

/*============ html tag =============*/
body {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

#modal-content {
  border-radius: 5px;
}

/*============= className ============*/
